{% extends 'base.html' %}
{% load humanize %}
{% load jformat %}
{% load staticfiles %}

{% block content %}

<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-family: myFirstFont  ">درباره ما</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->



  <div class="popular_causes_area pt-120 cause_details ">
        <div class="container">
            <div class="row">
                    <div class="single_cause">
                        <div  align="right" style="font-family: myFirstFont; direction:rtl " class="causes_content">
                            <h4 style="font-family: myFirstFont;">موسسه گل بوته های امید</h4>
                            <p style="font-family: myFirstFont;">مجموعه تلاش های گروهی از انسان
                        های خیراندیش در این موسسه به صورت هدفمند، منجسم و با برخورداری از همکاری های همه جانبه نیروهای
                        دلسوز و متخصص در زمینه های روانشناسی، مددکاری اجتماعی با مجوز شماره 2668/2698/717 از سازمان
                        بهزیستی آغاز گردیده است.</p>
                            <p style="font-family: myFirstFont;">- بازتوانی و توانمند سازی روانی
                        عاطفی افراد مبتلا به بیماری ام اس و خانواده های آنان
                        <br>
                        <br>
                        - برنامه ریزی و اجرای برنامه های آموزش، راهنمایی و مشاوره در زمینه ارتقاء سطح سلامت روان افراد و
                        یاوری در زمینه بهبود بخشیدن و افزایش تاب آوری و بهینه سازی سبک زندگی در رابطه با بیماری
                        <br><br>- آگاهی رسانی اجتماعی – فرهنگی و بررسی راهکارهای مناسب در جهت هدایت حمایت های جامعه،
                        سازمان ها و نهادهای دولتی، خصوصی و داوطلب
            </p>
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>



<!-- counter_area_start  -->
<div class="counter_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-5 mb-lg-0">
                <div class="counter_bg overlay">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single_counter d-flex align-items-center justify-content-center">
                                <div class="icon">
                                    <i class="flaticon-calendar"></i>
                                </div>
                                <div class="events">
                                    <h3 class="counter">{{config.MADAD_JOO}}</h3>
                                    <p align="right" style="font-family: myFirstFont; direction:rtl ">تعداد مدد جو ها
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_counter d-flex align-items-center justify-content-center">
                                <div class="icon">
                                    <i class="flaticon-heart-beat"></i>
                                </div>
                                <div class="events">
                                    <h3 class="counter">{{config.MADAD_KAR}}</h3>
                                    <p align="right" style="font-family: myFirstFont; direction:rtl ">تعداد مدد کار ها
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_counter d-flex align-items-center justify-content-center">
                                <div class="icon">
                                    <i class="flaticon-hug"></i>
                                </div>
                                <div class="events">
                                    <h3 >{{counter}}</h3>
                                    <p align="right" style="font-family: myFirstFont; direction:rtl ">اعضای آنلاین
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 " align="right" style=" ;  font-family: myFirstFont; direction:rtl ">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-credit-card"></i></span>
                    <div class="media-body">
                        <h3 align="right" style=" ;  font-family: myFirstFont; direction:rtl ">۶۱۰۴-۳۳۷۷-۴۵۴۶-۱۰۰۲</h3>
                        <p align="right" style=" ;  font-family: myFirstFont; direction:rtl ">کارت ملت</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-bank"></i></span>
                    <div class="media-body">
                        <h3 style=" ;  font-family: myFirstFont; direction:rtl "> ۵۹۳۶۶۹۵۳۵۶ </h3>
                        <p style=" ;  font-family: myFirstFont; direction:rtl ">حساب ملت</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-credit-card"></i></span>
                    <div class="media-body">
                        <h3 align="right" style=" ;  font-family: myFirstFont; direction:rtl ">۶۲۱۹-۸۶۷۰-۰۰۰۰-۳۸۷۷</h3>
                        <p align="right" style=" ;  font-family: myFirstFont; direction:rtl "> ملت سامان</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-bank"></i></span>
                    <div class="media-body">
                        <h3 style=" ;  font-family: myFirstFont; direction:rtl "> ۸۲۹-۸۱۹-۲۵۳۳۸۳۱-۱ </h3>
                        <p style=" ;  font-family: myFirstFont; direction:rtl ">حساب سامان</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- counter_area_end  -->

<!-- our_volunteer_area_start  -->
<div class="our_volunteer_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span align="right" style="font-family: myFirstFont; direction:rtl ">مدد کاران گل بوته</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for responsible in responsible %}

            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                      <a href="#">  <img height="320px" src='/media/{{responsible.image}} ' alt="">
                   </a> </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                            {% if responsible.telegram %}

                                    <a href="https://telegram.me/{{responsible.telegram}}"> <i class="fa fa-telegram"></i> </a>
                            {% endif %}
                                
                                </li>
                                <li>
                                
                            {% if responsible.instagram %}

                                    <a href="https://www.instagram.com/{{responsible.instagram}}"> <i class="fa fa-instagram"></i> </a>
                            {% endif %}

                                </li>
                                <li>
                                   {% if responsible.email %}

                                    <a  href="mailto:{{responsible.email}}" > <i class="fa fa-envelope-o"></i> </a>
                            {% endif %}

                                </li>
                                 </ul>
                        </div>
                        <div class="info_inner">
                            <h4 align="right" style="font-family: myFirstFont; direction:rtl ">
                                {{ responsible.name }}</h4>
                            <p align="right" style="font-family: myFirstFont; direction:rtl ">
                                {{ responsible.group_responsible }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    
    
        </div>
    
            <div class="comment-form">
               <h4 align="right" style=" font-family: myFirstFont; direction:rtl   ">نظرات خود را ارسال کنید</h4>
               <form class="form-contact comment_form" action="{% url 'news:feedback' %}" id="commentForm" method='post'>
                  <div class="row">                    {% csrf_token %}

                     <div class="col-12">
                        <div class="form-group">
                           <textarea align="right" style=" font-family: myFirstFont; direction:rtl   "
                              class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                              placeholder="نظرات خود را بنویسید"></textarea>
                        </div>
                     </div>  
                     {% if user.is_authenticated == 0 %}

                     <div class="col-sm-12">
                        <div class="form-group">
                           <input class="form-control" align="right" style=" font-family: myFirstFont; direction:rtl   " name="email" id="email" type="email" placeholder="ایمیل">
                        </div>
                     </div>
                     {% endif %}
                  </div>
                                      <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                  <div class="form-group">
                     <button style=" font-family: myFirstFont; " type="submit"
                        class="button button-contactForm btn_1 boxed-btn">ارسال </button>
                  </div>
               </form>
            </div>
    </div>

</div>
<!-- our_volunteer_area_end  -->

     {% endblock %} 