{% extends 'base.html' %}
{% load humanize %}
{% load jformat %}
{% load staticfiles %}

{% block head %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href=" {% static '/error/normalize.min.css'%}">
<link rel="stylesheet" href=" {% static '/error/style.css'%} ">
{% endblock %}

{% block content %}

<bodyy>
	<div class="container">
		<div class="alert-box scale-in">
			<div class="alert-box--icon">
			</div>
			<div class="alert-box--content">
				<h2>اختار</h2>
				<p>ابتدا باید در سایت عضو شوید</p>
			</div>
			<div class="alert-box--button">
				<a href="#">تایید</a>
			</div>
		</div>
	</div>
</bodyy><br>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script  src="{% static '/error/script.js'%} "></script>


{% endblock %}