{% extends 'base.html' %}
{% load humanize %}
{% load jformat %}
{% load staticfiles %}


{% block head %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href=" {% static '/error/normalize.min.css'%}">
<link rel="stylesheet" href=" {% static '/error/style.css'%} ">
{% endblock %}


{% block content %}

<div class="whole-wrap">
    <div class="container ">



   
        <div align="right" style=" font-family: myFirstFont; direction:rtl" class="row">

            <div class="comment-form container">
                            <div class="bradcam_text text-center">
                            <br>
                <h4  align="right" style=" font-family: myFirstFont; direction:rtl">ورود به حساب (در صورتی که هنوز عضو
                    نشده اید <a style="font-weight: 900;" class="genric-btn success circle"
                        href="{% url 'account:signup' %}"> کلیک
                    </a> کنید)</h4>
                    </div>
                <form action="{% url 'account:login' %}" method="POST" class="form-contact comment_form"
                    id="commentForm">
                    {% csrf_token %}

                    <div id="login" class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input style=" font-family: myFirstFont;" class="form-control" name="username" type="text" placeholder="نام کاربری">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">

                                <input style=" font-family: myFirstFont;" class="form-control" name="password" type="password" placeholder="رمز">
                            </div>
                        </div>
                        <div class="col-12">

                        </div>
                    </div>

                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                    <div class="form-group">

                    <br>
                        <button 
                         
 onclick="message_active('{{ error }}')"

                         align="right" style=" font-family: myFirstFont; direction:rtl" type="submit"
                            class="button button-contactForm btn_1 boxed-btn">ورود </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{{error}}    
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>

            if ({{error}} == 1 ) {
Swal.fire({
  icon: 'error',
  title: 'خطا',
  text: 'نام کاربری یا رمز اشتباه است!',
  footer: '<a href>آیا رمز ورود فراموش شده است ؟</a>' ,
 confirmButtonText: 'رد کردن',
})
            
            
            }
            
            
            

</script>

{% endblock  %}
