{% extends 'base.html' %}
{% load humanize %}
{% load jformat %}
{% load staticfiles %}

{% block content %}

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
        </div>


        <div align="right" style=" font-family: myFirstFont; direction:rtl" class="row">

            <div class="comment-form">
                <h4 align="right" style=" font-family: myFirstFont; direction:rtl">ورود به حساب (در صورتی که هنوز
                    عضو
                    نشده اید <a style="font-weight: 900;" class="genric-btn success circle"
                        href="{% url 'account:signup' %}"> کلیک
                    </a> کنید)</h4>
                {% csrf_token %}

                <div class="row">
                    <input type="radio" id="male" name="gender" value="male">
                    <input type="radio" id="male" name="gender" value="male">
                    <input type="radio" id="male" name="gender" value="male">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" name="username" type="text" placeholder="نام کاربری">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">

                            <input class="form-control" name="password" type="password" placeholder="رمز">
                        </div>
                    </div>
                    <div class="col-12">

                    </div>
                </div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                <div class="form-group">
                    <button align="right" style=" font-family: myFirstFont; direction:rtl" type="submit"
                        class="button button-contactForm btn_1 boxed-btn">ورود </button>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}