{% extends 'base.html' %}

{% load jformat %}
{% load staticfiles %}

{% block content %}

<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-family: myFirstFont  ">اخبار موسسه</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for news in news %}


                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src='/media/{{news.image}} ' height="375px" width="750px"
                                alt="">
                            <a href="{{news.get_absolute_url}}" class="blog_item_date">

                                <h3> {{ news.created_news|jformat:" %d " }}
                                </h3>
                                <p> {{ news.created_news|jformat:"  %B  " }}
                                </p>
                            </a>
                        </div>

                        <div align="right" style=" font-family: myFirstFont; direction:rtl   " class="blog_details">
                            <a href="#" style="float:left"> {% if news.important_news %}<i class="fa fa-star"></i>
                                {% endif %}{{news.group_news}} </a>
                            <a align="right" style="direction:rtl " class="d-inline-block"
                                href="{{news.get_absolute_url}}">
                                <h2 align="right" style="font-family: myFirstFont;direction:rtl ">{{news.title_news}}
                                </h2>
                            </a>
                            <p align="right" style="font-family: myFirstFont; direction:rtl ">
                                {{news.content_news|truncatechars:180}}</p>
                            <ul class="blog-info-link">
                                <li align="right" style="direction:rtl "><a href="{{news.get_absolute_url}}">ادامه مطلب
                                    </a></li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">



                            {% include "pagination.html" with page=news %}




                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">


                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 align="right" style="font-family: myFirstFont;direction:rtl " class="widget_title">دسته بندی
                        </h4>
                        <ul class="list cat-list">
                            {% for groups in groups %}

                            <li>
                                <a align="right" style="direction:rtl" href="{{groups.get_absolute_url}}"
                                    class="d-flex">
                                    <p align="right" style="font-family: myFirstFont;direction:rtl">
                                        {{groups.name_group_news}}

                                    </p>
                                    <p>({{groups.get_count_news}})</p>
                                </a>
                            </li>

                            {% endfor %}
                        </ul>
                    </aside>


                    <aside align="right" class="single_sidebar_widget popular_post_widget">
                        <h3 style="font-family: myFirstFont;direction:rtl " class="widget_title">اخبار مهم</h3>
                        {% for  important in important %}

                        <div class="media post_item">
                            <img width="80" height="80" src="/media/{{important.image}} " alt="post">
                            <div class="media-body">
                                <a href="{{news.get_absolute_url}}">
                                    <h3 align=" right" style="font-family: myFirstFont;direction:rtl ">
                                        {{important.content_news|truncatechars:40}}</h3>
                                </a>
                                <p>{{ important.created_news|jformat:" %d %B %Y " }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">

                        {% load instagram_client %}
                        <h4 class="widget_title">Instagram {{ instagram_profile_name|capfirst }}</h4>
                        <ul class="instagram_row flex-wrap">
                            {% instagram_user_recent_media instagram_profile_name %}
                            {% for media in recent_media %}

                            <li>
                                <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
                                    <img class="img-fluid" src="{{ media.thumbnail_src }}" alt="">
                                </a>
                            </li>


                            {% endfor %}
                        </ul>
                    </aside>



                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 align="right" style="font-family: myFirstFont;direction:rtl" class="widget_title">علاقه مند
                            ارسال اخبار به ایمیل شما</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" style="direction: rtl;" class="form-control" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'ایمیل '" placeholder='ایمیل '' required>
                                </div>
                                <button  align="right" style="font-family: myFirstFont;direction:rtl" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">ثبت</button>
                            </form>
                        </aside>


                    </div>
                </div>
            </div>
        </div>
    </section>

{%endblock%}