{% extends 'base.html' %}

{% load jformat %}
{% load staticfiles %}

{% block content %}

<!-- bradcam_area_start  -->

<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-family: myFirstFont  ">اخبار موسسه</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <div class="feature-img">
                  <img src='/media/{{category.image}}' height="375px" width="700px" alt="">
               </div>
               <div class="blog_details">
                  <h2 align="right" style=" font-family: myFirstFont; direction:rtl   ">
                     {{category.title_news}}
                  </h2>
                  <ul class="blog-info-link mt-3 mb-4">
                     <li><a href="#"><i class="fa fa-"></i> {{category.group_news}}</a></li>
                     <li><a href="#"><i class="fa fa-calendar"></i> {{ category.created_news |jformat:" %d %B %y" }}</a>
                     </li>
                  </ul>
                  <p align="right" style=" font-family: myFirstFont; direction:rtl   " class="excert">
                     {{category.content_news}}
                  </p>
               </div>
            </div>


            <div class="comment-form">
               <h4 align="right" style=" font-family: myFirstFont; direction:rtl   ">نظرات خود را ارسال کنید</h4>
               <form class="form-contact comment_form" action="{% url 'news:feedback'  %}" id="commentForm" method='post'>
                  <div  class="row">                    {% csrf_token %}

                     <div class="col-12">
                        <div class="form-group">
                           <textarea align="right" style=" font-family: myFirstFont; direction:rtl   "
                              class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                              placeholder="نظرات خود را بنویسید"></textarea>
                        </div>
                     </div>  
                     {% if user.is_authenticated == 0 %}
                     <div class="col-sm-12">
                        <div class="form-group">
                           <input class="form-control" align="right" style=" font-family: myFirstFont; direction:rtl   " name="email" id="email" type="email" placeholder="ایمیل">
                        </div>
                     </div>
                     {% endif %}
                  </div>
                                      <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                  <div style="float:right" class="form-group">
                     <button style=" font-family: myFirstFont; " type="submit"
                        class="button button-contactForm btn_1 boxed-btn">ارسال </button>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="blog_right_sidebar">
               <aside class="single_sidebar_widget post_category_widget">
                  <h4 align="right" style="font-family: myFirstFont;direction:rtl " class="widget_title">دسته بندی</h4>
                  <ul class="list cat-list">
                     {% for groups in groups %}

                     <li>
                        <a align="right" style="direction:rtl" href="#" class="d-flex">
                           <p align="right" style="font-family: myFirstFont;direction:rtl">{{groups.name_group_news}}
                           </p>
                    <p>({{groups.get_count_news}})</p>     </a>
                     </li>

                     {% endfor %}
                  </ul>
               </aside>

               <aside align="right" class="single_sidebar_widget popular_post_widget">
                  <h3 style="font-family: myFirstFont;direction:rtl " class="widget_title">بیشتر دیده شده</h3>
                  {% for  important in news %}

                  <div class="media post_item">
                     <img width="80" height="80" src="/media/{{important.image}} " alt="post">
                     <div class="media-body">
                        <a href="single-blog.html">
                           <h3 align="right" style="font-family: myFirstFont;direction:rtl ">
                              {{important.content_news|truncatechars:40}}</h3>
                        </a>
                        <p>{{ important.created_news|jformat:" %d %B %Y " }}</p>
                     </div>
                  </div>
                  {% endfor %}
               </aside>



               <aside class="single_sidebar_widget instagram_feeds">

                  {% load instagram_client %}
                  <h4 class="widget_title">Instagram {{ instagram_profile_name|capfirst }}</h4>
                  <ul class="instagram_row flex-wrap">
                     {% instagram_user_recent_media instagram_profile_name %}
                     {% for media in recent_media %}

                     <li>
                        <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
                           <img class="img-fluid" src="{{ media.thumbnail_src }}" alt="">
                        </a>
                     </li>


                     {% endfor %}
                  </ul>
               </aside>



               <aside class="single_sidebar_widget newsletter_widget">
                  <h4 align="right" style="font-family: myFirstFont;direction:rtl" class="widget_title">علاقه مند ارسال
                     اخبار به ایمیل شما</h4>

                  <form action="#">
                     <div style="font-family: myFirstFont;direction:rtl" class="form-group">
                        <input  type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'ایمیل '" placeholder='ایمیل '' required>
                                </div>
                                <button  align="right" style="font-family: myFirstFont;direction:rtl" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">ثبت</button>
                            </form>
                        </aside>
  

               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


{%endblock%}