
                            {% if page.has_previous %}
                            <li class="page-item">
                                <a href="?page={{page.previos_page_number}}" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}
                            <li class="page-item active">
                                <a href="#" class="page-link"> {{page.number}}</a>
                            </li>


                            {%  if page.has_next %}
                            <li class="page-item">
                                <a href="?page={{page.next_page_number}}" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {% endif %}